body {
    background: #ffffff;
}
hr {
    width: 93%;
    border: 1px solid gray;
}
form > hr {
    width: 100%;
}
label,
input,
select,
textarea {
    margin: 5px;
}
textarea {
    width: 100%;
    max-width: 100%;
}
footer {
    margin-bottom: 20px;
}
textarea,
select,
input {
    border: 2px solid #AAAAAA;
    border-radius: 3px;
}
textarea:focus,
input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
span {
    color: red;
    margin-right: 5px;
}
.item_list {
    width: 32px;
    height: 32px;
}
.content {
    text-align: center;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.column {
    margin-top: 40px;
    background: #F5F5F5;
    max-width: 700px;
    border: 1px solid gray;
    margin-bottom: 40px;
}
.form {
    margin: 20px;
    text-align: left;
}
.submit {
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabbed {
    margin-left: 30px;
}
div.submit > input {
    min-width: 100px;
}